*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(37, 37, 37);
}

.container{
    width: 1920px;
    height: 900px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border: none;
    margin: 50px auto;
    padding-bottom: 30px;
    z-index: 0;
}

h1{
    display: inline-block;
    text-transform: uppercase;
    color: white;
    font-size: 120px;
    position: absolute;
    text-shadow: 4px 7px 10px rgba(0, 0, 0, 0.8);
}
#first{
    top: 237px;
    left: 50%;
    margin-left: -680px;
    user-select: none;
}
#second{
    top: 395px;
    left: 50%;
    margin-left: -150px;
    user-select: none;
}
#third{
    top: 553px;
    left: 50%;
    margin-left: 100px;
    user-select: none;
}


.figure{
    width: 200px;
    height: 100px;
    display: inline-block;
    position: absolute;
    border: none;
    z-index: -1;
}

#type1{
    left: 50%;
    margin-left: -290px;
    margin-top: 100px;
}
#type2{
    left: 50%;
    margin-left: -500px;
    margin-top: 100px;
}

/*--------------------------------------------------*/
#type3{
    left: 50%;
    margin-left: -395px;
    margin-top: 257px;
}
#type4{
    left: 50%;
    margin-left: -605px;
    margin-top: 257px;
}
#type5{
    left: 50%;
    margin-left: -185px;
    margin-top: 257px;
}
#type6{
    left: 50%;
    margin-left: 25px;
    margin-top: 257px;
}

/*--------------------------------------------------*/
#type7{
    left: 50%;
    margin-left: -710px;
    margin-top: 414px;
}
#type8{
    left: 50%;
    margin-left: -500px;
    margin-top: 414px;
}
#type9{
    left: 50%;
    margin-left: -290px;
    margin-top: 414px;
}
#type10{
    left: 50%;
    margin-left: -80px;
    margin-top: 414px;
}
#type11{
    left: 50%;
    margin-left: 130px;
    margin-top: 414px;
}
#type12{
    left: 50%;
    margin-left: 340px;
    margin-top: 414px;
}
#type13{
    left: 50%;
    margin-left: 550px;
    margin-top: 414px;
}

/*--------------------------------------------------*/
#type14{
    left: 50%;
    margin-left: 25px;
    margin-top: 571px;
}
#type15{
    left: 50%;
    margin-left: -185px;
    margin-top: 571px;
}
#type16{
    left: 50%;
    margin-left: 235px;
    margin-top: 571px;
}
#type17{
    left: 50%;
    margin-left: 445px;
    margin-top: 571px;
}
#type18{
    left: 50%;
    margin-left: 655px;
    margin-top: 571px;
}

/*--------------------------------------------------*/
#type19{
    left: 50%;
    margin-left: 340px;
    margin-top: 729px;
}
#type20{
    left: 50%;
    margin-left: 550px;
    margin-top: 729px;
}


#type2, #type4, #type7{
    background-color: #882222;
}

#type1, #type3, #type8{
    background-color: #771010;
}

#type5, #type9{
    background-color: #551010;
}

#type6, #type10, #type15{
    background-color: #331010;
}

#type11, #type14{
    background-color: #551010;
}

#type12, #type16{
    background-color: #771010;
}

#type13, #type17, #type19{
    background-color: #882222;
}

#type18, #type20{
    background-color: #994444;
}




/* --------------- ::BEFORE ::AFTER --------------- */

.figure::before, .figure::after{
    content: "";
    width: 0; 
    height: 0;
    position: absolute; 
    left: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}

.figure::before {
    top: -50px;
}
.figure::after {
    bottom: -50px;
}

#type2::before, #type4::before, #type7::before{
    border-bottom: 50px solid #882222;
}
#type2::after, #type4::after, #type7::after{
    border-top: 50px solid #882222;
}

#type1::before, #type3::before, #type8::before{
    border-bottom: 50px solid #771010;
}
#type1::after, #type3::after, #type8::after{
    border-top: 50px solid #771010;
}

#type5::before, #type9::before{
    border-bottom: 50px solid #551010;
}
#type5::after, #type9::after{
    border-top: 50px solid #551010;
}

#type6::before, #type10::before, #type15::before{
    border-bottom: 50px solid #331010;
}
#type6::after, #type10::after, #type15::after{
    border-top: 50px solid #331010;
}

#type11::before, #type14::before{
    border-bottom: 50px solid #551010;
}
#type11::after, #type14::after{
    border-top: 50px solid #551010;
}

#type12::before, #type16::before{
    border-bottom: 50px solid #771010;
}
#type12::after, #type16::after{
    border-top: 50px solid #771010;
}

#type13::before, #type17::before, #type19::before{
    border-bottom: 50px solid #882222;
}
#type13::after, #type17::after, #type19::after{
    border-top: 50px solid #882222;
}

#type18::before, #type20::before{
    border-bottom: 50px solid #994444;
}
#type18::after, #type20::after{
    border-top: 50px solid #994444;
}
