*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(32, 32, 32);
}

.container{
    width: 1000px;
    height: 700px;
    margin: 20px auto;
    background-color: #ccc;
    text-align: center;
    font-size: 0;
    position: relative;
}

.container .map{
    width: 300px;
    height: 435px;
    background-image: url("karta.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#one{
    left: 50%;
    margin-left: -150px;
    z-index: 10;
    top: 210px;
}

#two{
    left: 50%;
    z-index: 5;
    top: 130px;
    margin-left: 50px;
}

#three{
    right: 50%;
    z-index: 5;
    top: 130px;
    margin-right: 50px;
}

#four{
    left: 50%;
    top: 50px;
    margin-left: 150px;
}

#five{
    right: 50%;
    top: 50px;
    margin-right: 150px;
}