*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("soty.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

/*---------------------------------------- HEADER ----------------------------------------*/
header{
    background: linear-gradient(270deg, #65a9d0 40%, #9ed0e7 60%);
    border-radius: 20px 20px 0 0;

}

.head_name{
    display: inline-block;
    width: 550px;
    font-size: 0;
    vertical-align: middle;
    text-align: left;
    padding-left: 50px;
}

.head_name .logo{
    background-image: url("com.png");
    display: inline-block;
    width: 55px;
    height: 95px;
    padding-left: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}

.head_name h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    color: #115a7b;
    font-style: italic;
    text-shadow: 2px 2px 3px #40c0f1;
    padding-left: 20px;
    text-transform: uppercase;
}

nav{
    display: inline-block;
    text-align: center;
    width: 650px;
    vertical-align: middle;
    font-size: 0;
}

/*---------------------------------------- MAKET ----------------------------------------*/
.maket{
    background-image: url("main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 1280px;
    opacity: 0.9;
    border-top: 10px solid rgba(6, 135, 177, 0.4);
    border-radius: 0 0 20px 20px;
    text-align: center;
    font-size: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0;
}

.maket a{
    text-align: center;
}

.maket .button{
    width: 100px;
    padding: 136px 48px;
    color: transparent;
}

.maket .button:hover{
    background-color: transparent;
    color: transparent;
    border: 2px solid #115a7b;
    border-radius: 1px;
}

.mak-1{
    display: inline-block;
    background-image: url("maket_1.jpg");
    height: 300px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}

.mak-2{
    display: inline-block;
    background-image: url("maket_2.png");
    height: 300px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-left: 10px;
}

.mak-3{
    display: inline-block;
    background-image: url("maket_3.png");
    height: 200px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-left: 10px;
    text-align: center;
}

.mak-4{
    display: inline-block;
    background-image: url("maket_4.png");
    height: 300px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-left: 10px;
}

.mak-5{
    display: inline-block;
    background-image: url("maket_5.png");
    height: 200px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-left: 10px;
    text-align: center;
}

.mak-6{
    display: inline-block;
    background-image: url("maket_6.jpg");
    height: 200px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-left: 10px;
    text-align: center;
    margin-top: 10px;
}

/*------------------------------------------------*/
.mak-3 .button{
    width: 200px;
    padding: 50px 48px;
    padding-bottom: 122px;
}

.mak-3 .button:hover{
    background-color: transparent;
    color: transparent;
    border: 2px solid #115a7b;
    border-radius: 1px;
}

.mak-5 .button{
    width: 200px;
    padding: 50px 48px;
    padding-bottom: 122px;
}

.mak-5 .button:hover{
    background-color: transparent;
    color: transparent;
    border: 2px solid #115a7b;
    border-radius: 1px;
}

.mak-6 .button{
    width: 200px;
    padding: 50px 48px;
    padding-bottom: 122px;
}

.mak-6 .button:hover{
    background-color: transparent;
    color: transparent;
    border: 2px solid #115a7b;
    border-radius: 1px;
}



/*--------- COMMON ---------*/
.button{
    line-height: 25px;
    font-size: 18px;
    padding: 0 25px;
    border: 2px solid transparent;
    display: inline-block;
    color: #115a7b;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
}

.button:hover{
    background-color: #115a7b;
    color: rgb(193, 255, 255);
}