body{
    background-color: #8e8e8e;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1280px;
    height: 710px;
    background-color: #ffffff;
    margin: 15px auto 30px auto;
}


.gradient{
    width: 1280px;
    height: 710px;
    background-repeat: no-repeat;
    background-size: 950px 300px, 2200px 300px, 1900px 355px, 700px 355px, 1000px 355px;
    background-position: bottom left, bottom right, left, right, right;
    background-image: linear-gradient(to top right, #ffffff 50%, transparent 50%),
                        linear-gradient(to top left, #ffffff 50%, transparent 50%),
                        linear-gradient(to top right, #8e8e8e 50%, transparent 50%),
                        linear-gradient(to top left, #8e8e8e  50%, transparent 50%),
                        linear-gradient(to top left, #ff9b00 50%, transparent 50%);                    
}

.head h2{
    font-size: 25px;
    padding-left: 50px;
    padding-top: 55px;
}

.description{
    display: block;
    width: 615px;
    margin-top: 240px;
    margin-left: 20px;
}

.description p{
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color:white;
}

.footer{
    display: block;
    margin-left: 50px;
    margin-bottom: 50px;
}

.footer h3{
    font-size: 24px;
    padding-top: 225px;
}

.footer a{
    text-decoration: none;
}